* {
    max-width: 100vw;
    overflow-x: hidden;
}

.contact-fixed {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(217,13,13);
    color: white;
    display: none;
    font-size: 24px;
    border: none;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 99;

    @media (min-width: 1024px) {
        display: block;
    }
}

.nav {
    width: 90%;
    margin: auto;
}

body {
    margin: 0;
}

.header .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(min-width: 1024px) {
        flex-direction: row;
    }
}

.header .nav .logo p {
    color: rgb(112, 110, 110);  

    @media(min-width: 1024px) {
        text-align: center;
    }
}

.menu {
    place-content: flex-end;
}

.menu .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    flex-wrap: wrap;
}

.contact-cta {
    display: none;

    @media (min-width: 1200px) {
        display: block;
    }
}

.menu .items {
    list-style-type: none;
}

.menu .items .item {
    margin-left: 15px;
    font-size: 18px;
    margin-bottom: 15px;
}

.menu .items .item a {
    color: black;
    text-decoration: none;
}

.contact-cta svg {
    width: 36px;
    height: 36px;
    color: red;
    position: relative;
    top: 7px;
}

.contact-cta .phone,
.contact-cta .email {
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: red;
}

.contact-cta .cta {
    color :black;
    font-size: 18px;
    font-weight: 700;
}

.hero-banner.slide {
    margin-top: 20px;
    width: 100vw;
}

.offer-types {
    background-color: #333232;
}

.offer-types {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 10px;

    @media(min-width: 1024px) {
        flex-direction: row;
    }
}


.offer-types .residential .image-wrapper img,
.offer-types .commercial .image-wrapper img {
    display: flex;
    margin: auto;
}

.offer-types .residential .image-wrapper,
.offer-types .commercial .image-wrapper {
    max-height: 320px;
    overflow: hidden;
}

.offer-types img {
    width: 530px;
    height:auto;
}

.offer-types p {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;

    @media (min-width: 1024px) {
        font-size: 36px;
    }
}

.services .service img {
    width: 69px;
    height: 69px;
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(219,215,215);
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

    @media(min-width: 1024px) {
        flex-direction: row;
    }
}

.services .service {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
    width: 300px;
}

.center-aligned {
    text-align: center;
}

.center-aligned,
.description {
    font-size: 24px;
}

.description {
    width: 70%;
    margin: auto;
    margin-top: 80px;
    font-size: 20px;
}

.steps {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(51,50,50);
    margin-top: 50px;
}

.steps-wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.step {
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 50px;

    @media (min-width: 1024px) {
        width: 45%;
        margin: 15px;
    }
}

.step h2 {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.step p {
    color: black;
    font-size: 24px;
}

.paralax {
    background-image: url("../img/paralax.webp");
    background-position: fixed;
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax .title {
    margin-top: 0;
    text-align: center;
    color: black;
    font-size: 36px;
    font-weight: bold;
    padding-top: 100px;
}

.reasons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    margin: auto;
    text-align: center;

    @media (min-width:1024px) {
        flex-direction: row;
        width: 70%;
    }
}

.reasons p {
    font-size: 24px;
    font-weight: bold;
}

.testimonials {
    background-color: rgb(51,50,50);
    padding-top: 10px;
    height: auto;

    @media (min-width: 1024px) {
        padding-top: 80px;
    }
}

.testimonials .testimonials-media {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

    @media (min-width: 1024px) {
        width: 100%;
    }
}

.testimonials .testimonials-media .media {
    margin: auto;
}

.testimonials-media p {
    color: white;
    font-size: 24px;
    text-align: center;
    width: 90%;

    @media (min-width: 1024px) {
        width: 100%;
    }
}

.testimonial {
    width: 90%;
    margin: auto;
    color: white;
    font-size: 24px;

    @media (min-width: 1024px) {
        width: 50%;
    }
}

.see-more {
    background-color: rgb(217,13,13);
    color: white;
    height: 70px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 15px;

    @media (min-width: 1024px) {
        font-size: 24px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.testimonials-footer {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 80px;
    flex-direction: column;
    padding-top: 50px;

    @media (min-width: 1024px) {
        width: 50%;
        flex-direction: row;
    }
}

.testimonials-footer img {
    margin-bottom: 20px;
}

footer {
    background-color: rgb(51,50,50);
}

footer * {
    margin-top: 0;
}

footer {
    border-top: 1px solid white;
}

.footer-menu .items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: white;
    font-size: 24px;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    padding-left: 0;

    @media (min-width: 1024px) {
        flex-direction: row;
        width: 50%;
    }
}

.footer-menu .items .item {
    margin-bottom: 10px;
}

.footer-menu .items a {
    color: white;
    text-decoration: none;
}

.footer-contact {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-size: 18px;
    flex-direction: column;
    text-align: center;

    @media (min-width: 1024px) {
        flex-direction: row;
        width: 50%;
        text-align: inherit;
    }
}

.copyright {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-direction: column;
    text-align: center;

    @media (min-width: 1024px) {
        flex-direction: row;
        text-align: inherit;
    }
}

.registration {
    border-top: 1px solid black;
    padding-bottom: 30px;
}

.form-wrapper {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.registration button {
    background-color: rgb(217,13,13);
    color: white;
    height: 30px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 15px;
}

.registration button:hover {
    background-color: rgb(155,13,13);
}

#alert-msg {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

#alert-msg .alert {
    background-color: rgb(244, 67, 54); 
    color: white; 
    padding: 15px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    position: relative;
}

#alert-msg .alert .close-alert {
    position: absolute; 
    top: 15px; 
    right: 10px; 
    cursor: pointer;
    font-weight: bold;
}

.validated-data {
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}

.validated-data {
    font-size: 18px;
}

.validated-data .header {
    font-size: 24px;
    color: green;
    font-weight: bold;
}